/* Variables */

:root{
    --odinyellow: #f0b429;
    --odinblue: #1992d4;
    --odingrey: #e2e8f0;
}


/* Layout */

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: max-content 1fr;
    min-height: 100vh;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.sidebar h1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}


li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 300px;
    padding: 12px
}

.project-wrapper{
    grid-row: 1 / 3;
}

.card-wrapper{
    box-sizing: border-box;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


.card{
    padding: 20px;
}
.card-wrapper > .card{
    width: 400px;
    height: 200px;
}

.trending-wrapper > .card, .announcement-wrapper > .card{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trending-wrapper > .card{
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Theme */

.sidebar, button{
    background: var(--odinblue);
    color: white;
}

input, main, main > div{
    background: var(--odingrey);
}


	
button{
    border-radius: 40px;
    box-sizing: border-box;
    width: 75px;
    padding: 8px;
    border: none;
}

.card{
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
}

.card p{
    color: grey;
}

.card-wrapper > .card{
 border-left: 8px solid var(--odinyellow);
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}


.announcement{
    border-bottom: 1px solid grey;
}

.announcement:last-child{
    border: none;
}
/* Typeface */

body{
    font-family: 'Roboto', sans-serif;
}


/* SVG Stuff */

svg{
    fill: white;
    height: 2em;
    width: 2em;
    margin-right: 20px;
}

main svg{
    fill: black;
}

.card-actions{
    align-self: flex-end;
    margin-top: 40px;
}

